/* Basic CSS for the navigation bar */

*{
    box-sizing: border-box;
}
nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

.logo-image {
    width: 70px;
    height: 70px;
}

  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/79/Bondi_from_above.jpg');
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: top;
  }

  h1 {
    margin-bottom: 20px;
    color: white;
    font-style: italic;
  }

  h2 {
    font-family: arial, sans-serif;
    font-size: 30px;
    color: white;
    font-weight: bold;
    float: bottom;
    position: bottom;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #d1f2d2;
    color: darkgray;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  