*{
    box-sizing: border-box;
}
nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

.text-box {
    padding: 10px;
    border-radius: 5px;
    width: 600px;
    margin: 20px auto;
    text-align: left;
    position: absolute;
    bottom: 100;
    margin-bottom: 20px;
}
.bottom-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    float: bottom;
}

.logo-image {
    width: 70px;
    height: 70px;
}

  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url('home/project/travelRecommendation/Jungle_Beach.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    min-height: 90vh;
  }

  h1 {
    color: white;
    font-size: 20px;
    font-style: italic;
    text-align: left;
  }

  h2 {
    font-family: arial, sans-serif;
    font-size: 70px;
    color: white;
    font-weight: bold;
  }

  h3 {
    font-family: arial, sans-serif;
    font-size: 20px;
    color: white;
  }
  
  div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  .button {
    padding: 7px 15px;
    background-color: #d1f2d2;
    color: darkgray;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .member {
    font-family: arial, sans-serif;
    font-size: 18px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 400px;
    margin: 20px auto;
    text-align: left;
    position: left;
    margin-bottom: 20px;
  }

.input-box {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

textarea.input-box {
    height: 100px;
}